#addRatesButton, #editRatesButton , #exitButton , #addButton, #moreButton, #more, #profileButton, #searchButton, #backButton, #editButton, #editUserIdButton, #deleteButton, #historyButton{
    -fx-background-color: transparent;
}

#addRatesButton:hover, #editRatesButton:hover, #exitButton:hover , #addButton:hover, #moreButton:hover, #more:hover, #profileButton:hover, #searchButton:hover, #editUserIdButton:hover, #historyButton:hover, #backButton:hover, #editButton:hover, #deleteButton:hover{
   -fx-background-color: #dedede;
}



#addRatesButton:pressed, #editRatesButton:pressed, #exitButton:pressed, #addButton:pressed, #moreButton:pressed ,#more:pressed, #profileButton:pressed, #searchButton:pressed, #editUserIdButton:pressed, #historyButton:pressed, #backButton:pressed, #editButton:pressed, #deleteButton:pressed{
    -fx-background-color:  #b8b8b8;
}

.choice-box {
  -fx-background-color: white;
  -fx-mark-color: black; // arrow color
}

.choice-box > .label{
    -fx-text-fill: black;
}

.button {
    -fx-background-color: black;
}


.button:hover {
    -fx-background-color: #333333;
}

.button:pressed {
    -fx-background-color: #454545;
}

